{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
            <h1>{{phone.name}}</h1>
            <img src="{{phone.image}}">
            <p>{{phone.lte_exists}}</p>
            <p>{{phone.price}}</p>
            <p>{{phone.release_date}}</p>
            <p>Обратно в <a href="{% url 'catalog'%}">каталог</a></p>
        </div>
    </div>
{% endblock %}